<h1>Countries that starts with the letter <%= params[:letter].upcase %></h1>
<% if @c.any? %>
    <% @c.each do |item|  %>
        <p><%= item %></p>
    <% end %>
<% else %>
    <p>No country starts with that letter</p>
<% end %>
