<h1>Country Wrapper Docs</h1>
<p>1. Find data about a country by adding the name of the country after "/"</p>
<p class="code-p">SAMPLE: localhost:3000/spain</p>

<p>2. Find countries that starts with the letter of your choice by adding the letter after "start/"</p>
<p class="code-p">SAMPLE: localhost:3000/start/s</p>

<p>3. Find the capital of the country by adding the country name before "/cap"</p>
<p class="code-p">SAMPLE: localhost:3000/spain/cap</p>

<p>4. Find the location of the country by adding the country name before "/loc"</p>
<p class="code-p">SAMPLE: localhost:3000/spain/loc</p>

<p>5. Find the currency of the country by adding the country name before "/money"</p>
<p class="code-p">SAMPLE: localhost:3000/spain/money</p>

<p>6. Find the flag image of the country by adding the country name before "/flag"</p>
<p class="code-p">SAMPLE: localhost:3000/spain/flag</p>

<p>7. Find the country by adding a population number after "pop/"</p>
<p class="code-p">SAMPLE: localhost:3000/pop/5000</p>
