h1{
    padding: 10px;
    background-color: #eeeeee;
}

p{
    padding: 10px;
    background-color: #bebebe;
    margin: 5px;
}

img{
    padding: 10px;
    border: 2px solid #bebebe;
    border-radius: 3px;
}